/* ------------------------------------------------ */
/*  cascading style sheet for anonymous-fish.com    */
/*  created by tomer tomer lichtash 		    */
/*  lichtash@corky.net : october-november 2003	    */
/* ------------------------------------------------ */

/* layout */
/* -------------------------------------- */

body {		margin: 0px 0px 0px 0px;
		font:x-small arial;
		background-color: none;
		color: black;
		font-size:small;
		background: #ffffe0;
		crollbar-face-color: #99906a; 
		crollbar-shadow-color: #000; 
		crollbar-highlight-color: #e6d89e; 
		crollbar-3dlight-color: #ffffe0; 
		crollbar-darkshadow-color: #4f4f4f; 
		crollbar-track-color: #e6d89e; 
		crollbar-arrow-color: #e6d89e;}

		html>body {font-size:small;}


/* logo layout
/* ------------------------------------------------ */

#logobox {	position:relative;
		background:#000;
		width:700;
		height:100;
		padding:10;
		margin: 10 0 10 0;
		border-right: 5px solid gray;
		border-left: 5px solid gray;
		border-top: 5px solid gray;
		border-bottom: 5px solid gray;}



.char {		text-align: justify;
		line-height:1.6;
		font-family: narkisim;
		font-size: 11.5pt;
		margin: 0 0 5 0;}

.fig {		text-align: right;
		line-height:1.6;
		font-family: arial;
		font-size: 9pt;
		font-weight: bold;}

.cmnt {		text-align: justify;
		line-height:1.6;
		font-family: arial;
		font-size: 8pt;}



.header {	text-align:center;
		line-height:1.4;
		color: #e6d89e;
		margin: 25 0 0 0;
		font-family: times new roman;
		font-size: 12pt;}

.header b {	text-align:center;
		line-height:1.4;
		color: #e6d89e;
		margin: 25 0 0 0;
		font-family: times new roman;
		font-size: 11pt;}

.email {	color: #99906a;
		margin: 0 0 0 0;
		text-align:center;
		font-family: tahoma;
		font-size:8pt;}

.email a:hover {text-decoration: underline;
		color: #f2c468;}


.issue {	text-align:center;
		color: #99906a;
		margin: 10 0 0 0;
		font-family: times new roman;
		font-size: 10pt;}


#logoimg {	position:absolute;
		top:20;
		right:30;
		text-align:center;
		background:#000;}


.issueinfo {	font-family: arial;
		font-size: 8pt;
		color: #b0ac99;
		text-align: center;
		margin: 2 0 0 0;}


/* toc layout
/* ------------------------------------------------ */


.toptoctitle {	font-family: times new roman;
		font-size: 20pt;
		font-weight: old;
		margin: 5 0 0 0;}

.toctitle {	font-family: times new roman;
		font-size: 20pt;
		margin: 45 0 0 0;}

.tocsubtitle {	font-family: arial;
		font-size: 11pt;
		font-weight: bold;
		font-style: italic;
		margin: 5 0 0 0;}

.author {	font-family: arial;
		font-size:10pt;
		font-weight: bold;
		margin: 11 0 2 0;}

.author a {	color: #000;
		text-decoration: none;}

.author a:hover{text-decoration: underline;
		color:#99906a;}


.authorsub {	font-family: arial;
		font-size:9pt;
		margin: 2 0 20 0;}

.tocdatatitle {	font-family: arial;
		text-align: center;
		font-size:8pt;
		color:#99906a;
		line-height:1.5;
		margin: 0 0 0 0;}
.tocdatasub {	font-family: arial;
		text-align: center;
		font-size:9pt;
		color:e6d89e;
		line-height:1.5;
		margin: 0 0 20 0;}
.tocdatasub a {	text-decoration: nderline;
		font-family: arial;
		font-weight: bold;
		text-align: center;
		font-size:9pt;
		color:#e6d89e;
		line-height:1.5;
		margin: 0 0 20 0;}

.tocdatasub a:hover {text-decoration:underline;
			color: #f2c468;}

.tocpagenum {	font-family: arial;
		font-size: 7.5pt;
		text-align:left;
		margin: 25 0 0 0;}



.num {		font-size: 8pt;}

/* dvardag
/* ------------------------------------------------ */


#dvardag {	position: relative;
		margin: 0 0 0 0;
		width: 340px;
		padding: 10px;}

.dvartitle {	font-family: times new roman;
		font-size: 13pt;
		line-height:1.5;
		margin: -5 0 2 0;
		border-bottom: 1px solid #99906a;}

.smalltitle {	font-family: arial;
		font-size: 8pt;
		color: #000;
		margin: 2 0 0 0;
		text-align: left;}

.dvartext {	font-family: arial;
		font-size: 9pt;
		margin: 0 0 0 0;
		color:#000;
		padding: 20;
		text-align: justify;
		line-height: 1.6;}

.dvarquote {	font-family: arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: italic;
		text-align: right;
		line-height: 1.3;
		margin: 0 40 0 40;
		color:#000;}

.dvarbib {	font-family: arial;
		font-size: 8pt;
		color:#000;
		text-align: left;
		line-height: 1.6;
		margin: 0 40 0 40;
		color:#000;}


/* menu layout
/* ------------------------------------------------ */

#menu	{	position: relative;
		background: #000;
		margin: 10 0 0 0;
		border-top: 3px solid gray;
		border-bottom: 3px solid gray;
		border-right: 3px solid gray;
		border-left: 3px solid gray;}

#leftmenu{	position: relative;
		ackground: #000;
		margin: 10 0 0 0;
		border-top: 0px solid gray;
		border-bottom: 0px solid gray;
		border-right: 1px solid #99906a;
		border-left: 0px solid gray;}



#rightmenu {	position: relative;
		background: #ede6a1;
		margin: 10 0 0 0;
		width: 98%;
		height:611;
		border-top: 3px solid #a19c6d;
		border-bottom: 3px solid #a19c6d;
		border-right: 0px solid #a19c6d;
		border-left: 0px solid #a19c6d;}

#menuimg {	position: relative;
		text-align: center;
		margin: 10 0 0 0;}


#menuimgtxt {	position: relative;
		font-family: arial;
		font-size:9pt;
		font-weight: bold;
		text-align: left;
		margin: 0 0 30 13;
		color: #d4d4d4;}

#menuimgtxt b {	position: relative;
		font-family: david;
		font-size:9pt;
		text-align: left;}

#imgtxt {	position: relative;
		font-family: arial;
		font-size:9pt;
		font-weight: bold;
		text-align: left;
		margin: 0 0 30 13;
		color: #000;}

#imgtxt b {	position: relative;
		font-family: david;
		font-size:9pt;
		text-align: left;}



.button {	font-family: arial;
		font-size: 9pt;
		font-weight: bold;
		color:#e6d89e;}

.button a:hover{color:#f2c468;
		text-decoration: underline;}

.buttontxt {	font-family: arial;
		font-size: 8pt;
		color:#99906a;
		margin: -20 0 30 0;}
.buttonimg {	margin: 0 0 30 0;}


/* ads
/* ------------------------------------------------ */


#ad {		position: relative;
		background: #ede6a1;
		margin: 4 0 0 0;
		width: 100%;
		border-top: 3px solid #a19c6d;
		border-bottom: 3px solid #a19c6d;
		border-right: 3px solid #a19c6d;
		border-left: 3px solid #a19c6d;}

.adtease {	font-family: arial;
		font-size:9pt;
		font-weight: bold;
		text-align:center;
		color:#a19c6d;
		margin: 15 0 0 0;}

.adsubtease {	font-family: arial;
		font-size:8pt;
		text-align:center;
		color:#a19c6d;
		margin: 2 0 0 0;}

.adtitle {	font-family: arial;
		font-size:27pt;
		font-weight: old;
		text-align:center;
		color:#121212;
		margin: 5 0 15 0;}


.adsubtitle {	font-family: arial;
		font-size:11pt;
		font-weight: bold;
		line-height:1.3;
		text-align:center;
		color:#121212;
		font-style:italic;
		margin: 0 0 15 0;}

.adtext {	font-family: arial;
		text-align: center;
		font-size:13.5pt;
		color:#121212;
		line-height:1.5;
		margin: 0 0 20 0;}

.adtext a {	text-decoration: nderline;
		font-family: arial;
		font-weight: bold;
		text-align: center;
		font-size:13.5pt;
		color:#121212;
		line-height:1.5;
		margin: 0 0 20 0;}

.adtext a:hover {text-decoration:underline;
		color: #b34400;}

.adfinale {	font-family: arial;
		font-size:8pt;
		font-weight: old;
		line-height:1.6;
		text-align:center;
		color:#121212;
		margin: 0 0 15 0;}

/* footer
/* ------------------------------------------------ */

#prefooter {	position: relative;
		margin: 15 0 0 0;}

#footer {	position: relative;
		border-top: 1px solid #b8ae9a;
		margin: 5 0 0 0;
		height: 20;}

.footerindx {	font-family: arial;
		font-size: 9pt;
		margin: 5 0 5 5;}

.footertext {	font-family: arial;
		font-size: 8pt;
		font-style: italic;
		margin: 5 0 5 5;}

.navbottom {	font-family: arial;
		font-size: 8pt;
		margin: 15 0 0 0;}

.navbottom a {	font-family: arial;
		font-size: 8pt;
		margin: 15 0 0 0;
		color:#000;}

.navbottom a:hover {	text-decoration: underline;
			color:#99906a;}

/* poetry
/* -------------------------------------- */

#textbox {	position:relative;
		width:100%;
		height:100%;
		margin: 0 0 0 0;}

.authorname {	font-family: times new roman;
		font-size: 22pt;
		text-align: right;
		margin: -9 5 0 0;}

.altauthor {	font-family: arial;
		font-size: 14pt;
		font-weight: bld;
		margin: 10 30 0 0;
		text-align: right;}

.starpoem {	font-family: arial;
		font-size: 18pt;
		font-weight: bold;
		margin: 30 30 0 0;
		font-style: italic;
		text-align: right;}

.poemtitle {	font-family: arial;
		font-size: 18pt;
		font-weight: old;
		margin: 10 30 0 0;
		font-style: italic;
		text-align: right;}

.poemsubtitle {	font-family: arial;
		font-size: 11pt;
		font-weight: old;
		font-style: talic;
		margin: 15 30 0 0;
		text-align: right;}

.dedication {	font-family: arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: italic;
		margin: 30 150 0 0;
		text-align: right;}


.poem {		font-family: narkisim;
		font-size: 12pt;
		margin: 30 30 40 0;
		line-height: 1.75;
		text-align: right;}

.prosepoem {	font-family: narkisim;
		font-size: 12pt;
		margin: 30 30 40 40;
		line-height: 1.75;
		text-align: justify;}


.poemdate {	font-family: narkisim;
		font-size: 10pt;
		margin: 30 30 40 0;
		line-height: 1.75;
		text-align: right;}


/* prose
/* -------------------------------------- */


.proseauthor {	font-family: arial;
		font-size: 16pt;
		text-align: right;
		font-weight: bold;
		margin: 20 20 5 0;}


/* next-page top header: */

.proseauthor_b {font-family: arial;
		font-size: 16pt;
		text-align: right;
		font-weight: bold;
		margin: 20 20 5 0;}

.prosetitle {	font-family: arial;
		font-size: 20pt;
		text-align: right;
		font-weight: bold;
		margin: 0 20 5 0;}


.prosesubtitle {font-family: arial;
		font-size: 13.5pt;
		text-align: right;
		font-style: italic;
		margin: 0 20 20 0;}


.prosesubtitles{font-family: times new roman;
		font-size: 10pt;
		text-align: left;
		font-weight: bold;
		margin: 22 0 0 0;}

.prose {	font-size: 11.5pt; 
		font-family: narkisim;  
		text-align:justify; 
		line-height: 1.5; 
		color: #000; 
		margin: 20 10 20 15;}

.prosedate {	font-size: 9pt;
		font-family: arial;
		text-align: left;
		line-height: 1.5;
		color:#000;
		margin: 0 10 30 15;
		font-weight: bold;}


.comment {	font-size: 8pt; 
		font-family: arial;  
		text-align:justify; 
		line-height: 1.5; 
		color: #000; 
		margin: 20 10 20 15;}



#trans {	position: relative;
		text-align: right;
		width: 550px;
		border-top: 1px solid black;
		font-size: 8pt; 
		font-family: arial;  
		text-align:justify; 
		line-height: 1.5; 
		color: #000; 
		margin: 0 30 20 15;}


.transcomment {	font-size: 8pt; 
		font-family: arial;  
		text-align:justify; 
		line-height: 1.5; 
		color: #000; 
		margin: 40 30 20 15;}




/* essay
/* -------------------------------------- */

#essay {	position: reltative;
		background:#FFFFD0;
		margin: 10 0 0 0;
		height: 500;
		border-top:5px solid gray;
		border-bottom:5px solid gray;
		border-right:5px solid gray;
		border-left:5px solid gray;}

#essayheader {	position: relative;
		background:#FFFAC0;
		margin: 0 0 0 0;
		width:100%;
		border-bottom:1px dashed #99906a}

.essayauthor {	font-family: arial;
		font-size: 16pt;
		text-align: right;
		font-weight: bold;
		margin: 20 20 5 0;}


/* next-page top header: */

.essayauthor_b {font-family: arial;
		font-size: 16pt;
		text-align: right;
		font-weight: bold;
		margin: 20 20 5 0;}

.essaytitle {	font-family: arial;
		font-size: 20pt;
		text-align: right;
		font-weight: bold;
		margin: 0 20 5 0;}

.essaysubtitle {font-family: arial;
		font-size: 13.5pt;
		font-style: italic;
		text-align: right;
		margin: 0 20 20 0;}

.essaytext {	font-size:10pt; 
		font-family:arial; 
		text-align:justify; 
		line-height: 1.6; 
		color: #000; 
		margin: 20 10 20 15;}

.essaysubtitles{font-family: times new roman;
		font-size: 10pt;
		text-align: left;
		font-weight: bold;
		margin: 22 20 0 0;}


#footnotes {	position: relative;
		margin: 25 0 0 0;}

.essaynotes {	font-family: arial;
		font-size: 8pt;
		text-align: right;
		margin: 0 0 0 25;}


.essaynotes a {	color:#607900; font-weight:bold; text-decoration:underline;}
.essaynotes a:hover {color:#9dc400; text-decoration: none;}


.nextpage {	font-family: arial;
		font-size: 8pt;
		margin: 0 0 25 15;
		text-align: left;}
.nextpage a {	color:#607900; font-weight:bold; text-decoration:underline;}
.nextpage a:hover {color:#9dc400; text-decoration: none;}



.nextpage_r {	font-family: arial;
		font-size: 8pt;
		margin: 0 30 25 15;
		text-align: right;}
.nextpage_r a {	color:#607900; font-weight:bold; text-decoration:underline;}
.nextpage_r a:hover {color:#9dc400; text-decoration: none;}



.notenum {	font-family: arial;
		font-size: 7pt;
		font-weight: bold;
		margin: 0 3 0 0;}


/* sections
/* -------------------------------------- */

.madortitle {	font-family: arial;
		font-size: 20pt;
		text-align: right;
		font-weight: bold;
		margin: 20 20 0 0;}

.madorsubtitle {font-family: arial;
		font-size: 10pt;
		text-align: right;
		font-style: italic;
		font-weight: bold;
		margin: 0 20 20 0;}

.madorsubtitle a {	text-decoration: underline;
			color: #607900}

.madorsubtitle a:hover {text-decoration: none;
			color:#9dc400;}


/* letters
/* -------------------------------------- */

.lettersauthor {font-family: arial;
		font-size: 10pt;
		font-weight: bold;
		text-align: left;
		margin: 20 20 25 0;}


/* efoe
/* -------------------------------------- */

.efoeauthor {	font-family: arial;
		font-size: 8pt;
		line-height:1.6;
		text-align: right;
		font-weight: bold;
		margin: 0 10 25 0;}

.efoetext {	font-size:9pt; 
		font-family:arial; 
		text-align:justify; 
		line-height: 1.6; 
		color: #000; 
		margin: 20 10 20 15;}

.efoepoem {	font-size:10pt; 
		font-family: miriam; 
		text-align:right; 
		line-height: 1.6; 
		font-style: itali;
		color: #000; 
		margin: 20 30 20 15;}




/* hayom
/* -------------------------------------- */

.hayomtitle {	font-family: times new roman;
		font-size: 10pt;
		text-align: left;
		font-weight: bold;
		margin: 24 20 0 0;}

.hayomsubtitle {font-family: arial;	
		font-size: 8pt;
		text-align: left;
		margin: 5 0 0 0;}


/* links (section)
/* -------------------------------------- */

.linktitle {	font-family: times new roman;
		font-size: 10pt;
		text-align: left;
		font-weight: bold;
		margin: 24 20 0 0;}

.linktitle a {	color:#607900;
		text-decoration: none;
		margin: 0 0 0 0;}
.linktitle a:hover {	color:#9dc400;
			text-decoration: underline;}

/* images
/* -------------------------------------- */

#images {	position: absolute;
		top: 265;}

.images {	border-top:1px solid #000;
		border-bottom:1px solid #000;
		border-right:1px solid #000;
		border-left:1px solid #000;
		margin: 10 10 0 10;}

.images a {	border-top: 1px solid #000;
		border-bottom: 1px solid #000;
		border-right: 1px solid #000;
		border-left: 1px solid #000;}


.images a:hover {border-top: 2px solid #000;
		border-bottom: 2px solid #000;
		border-right: 1px solid #000;
		border-left: 1px solid #000;}


/* misc
/* ------------------------------------------------ */


#punchleft {	float: left;

		margin: 18 5 10 0;}


#punchright {	float: right; 
		margin: 17 0 0 0;}


.lastwords {	font-family: times new roman;
		font-size: 28pt;
		color:#000;
		text-align: center;
		margin: 100 50 100 50;}

.404 {		font-family: arial;
		font-size: 9pt;
		color:#000;
		text-align: justify;
		line-height: 1.6;
		margin: 20 50 20 50;}


/* anthology
/* ------------------------------------------------ */

#anthology {	position: relative;
		background: #ede6a1;
		margin: 10 0 0 0;
		width: 98%;
		border-top: 3px solid #a19c6d;
		border-bottom: 3px solid #a19c6d;
		border-right: 3px solid #a19c6d;
		border-left: 3px solid #a19c6d;}

.anthologytease {font-family: arial;
		font-size:9pt;
		font-weight: bold;
		text-align:center;
		color:#a19c6d;
		margin: 15 0 0 0;}

.anthologysubtease {font-family: arial;
		font-size:8pt;
		text-align:center;
		color:#a19c6d;
		margin: 2 0 0 0;}

.anthologytitle {font-family: arial;
		font-size:27pt;
		font-weight: old;
		text-align:center;
		color:#121212;
		margin: 5 0 15 0;}


.anthologysubtitle {font-family: arial;
		font-size:11pt;
		font-weight: bold;
		line-height:1.3;
		text-align:center;
		color:#121212;
		font-style:italic;
		margin: 0 0 15 0;}

.anthologytext {font-family: arial;
		text-align: justify;
		font-size: 9pt;
		color:#121212;
		line-height:1.5;
		margin: 0 20 20 20;}

.anthologytext a {text-decoration: nderline;
		font-family: arial;
		font-weight: bold;
		text-align: center;
		font-size:13.5pt;
		color:#121212;
		line-height:1.5;
		margin: 0 0 20 0;}

.anthologytext a:hover {text-decoration:underline;
		color: #b34400;}

.anthologyfinale {font-family: arial;
		font-size:8pt;
		line-height:1.6;
		text-align:justify;
		color:#121212;
		margin: 0 20 20 20;}

.anthologycrit {font-family: arial;
		font-size: 9pt;
		font-weight: bold;
		color: #99906a;
		margin: 20 20 20 20;
		text-align: center;}



.quote {	font-family: arial;
		font-size: 9pt;
		color: #000;
		line-height: 1.6;
		margin: 20 20 10 20;}


.source {	font-family: arial;
		font-size: 8pt;
		color: #99906a;
		line-height: 1.4;
		text-align: left;
		margin: 0 20 40 20;}


/* repository
/* ------------------------------------------------ */



#repentry {	position: relative;
		margin: 0 0 1 0;
		height: 130;
		width: 350;}

#repleftmenu{	position: relative;
		margin: 10 0 20 0;
		border-top: 0px solid gray;
		border-bottom: 0px solid gray;
		border-right: 0px solid #99906a;
		border-left: 0px solid gray;}


#reprightmenu{	position: relative;
		ackground: #000;
		margin: 10 0 20 0;
		height:700;
		border-top: 0px solid gray;
		border-bottom: 0px solid gray;
		border-right: 0px solid #99906a;
		border-left: 0px solid gray;}


.reptitle {	font-family: arial;
		font-size: 10pt;
		font-weight: bold;
		text-align: right;
		font-style: talic;
		margin: 0 20 2 20;}


.reptitle a {	color:#000;
		text-decoration: none;}

.reptitle a:hover {	color:#99906a;
			text-decoration: underline;}

.reptext {	font-family: arial;
		font-size: 9.5pt;
		text-align: justify;
		line-height: 1.4;
		margin: 0 20 0 20;}


/* links */
/* -------------------------------------- */

a {			color: #fff; text-decoration: none;}
a:hover {		text-decoration: none;}
a.link {		color:#607900; font-weight:bold; text-decoration:underline;}
a.link:hover {		color:#9dc400; text-decoration: none;}
a.darklink {		color:#e38417; font-weight:bold; text-decoration:underline;}
a.darklink:hover {	color:#f2c468; text-decoration: none;}


#comics {	background-color: lack;
		margin: 10 10 0 10;}
.comics {	font-size:9pt;
		font-family:arial; 
		font-weight: bold;
		text-align:center; 
		line-height: 1.2; 
		color: #fff;
		margin: 0 20 10 20;}


.speech {	font-size:22pt; 
		font-family:arial; 
		font-weight: bold;
		color: red;}

.speech2 {	font-size:22pt; 

		font-family:david; 
		font-weight: bold;
		font-style: italic;
		color: blue;}



